{% extends 'base.html' %}
{% load static %}

{% block title %} {{ recipe.name }} {% endblock %}

{% block content %}
<h2>{{ recipe.name }} Details</h2>
    <p>Author: {{ recipe.author }}</p>
    <p>Ingredients:</p>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.ingredient.name }} : {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>
    {% for image in recipe.image.all %}
        <img src="{{ image.recipe_image.url }}" alt="{{ img.description }}">
    {% endfor %}
{% endblock %}
