{% extends 'base.html' %}
{% load static %}

{% block title %} {{ recipe.name }} {% endblock %}

{% block content %}
<h2>{{ recipe.name }} Details</h2>
    <p>Author: {{ recipe.author }}</p>
    <p>Ingredients:</p>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.ingredient.name }} : {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>
{% endblock %}
{% block main %}
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="">
    {% endif %}
{% endblock %}